@font-face {
    font-family: 'Inter';
    src: url(./assets/Font/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: 'Cormorac-Bold';
    src: url(./assets/Font/Cormorant_Garamond/CormorantGaramond-Bold.ttf);
}
@font-face {
    font-family: 'Cormorac-Regular';
    src: url(./assets/Font/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}
@font-face {
    font-family: 'Cormorac-Italic';
    src: url(./assets/Font/Cormorant_Garamond/CormorantGaramond-Italic.ttf);
}
@font-face {
    font-family: 'Cormorac-BoldItalic';
    src: url(./assets/Font/Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf);
}

:root{
    --primpary-font: 'Inter';
    --secondary-font: 'Lobster';

    --primary-color: #60656f56;
    --primary-color-solid: #60656F;
    --secondary-color: #A8B4A5;
    --tertiary-color: #B80C09;
    --black: #131112;
}




*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: var(--black);
    
}


#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2rem;
    padding-block: 1rem;
    color: var(--tertiary-color);
}

#site-title{
    font-family: var(--secondary-font);
    font-size: 3rem;
}

#main-content{
    color: rgba(245, 245, 245, 0.694);
    font-family: var(--primpary-font);
}

#header{
    /* border-bottom: var(--primary-color) solid 2px; */
}
.material-icons{
    /* color: whitesmoke; */
}

#side-bar{
    /* border-right: solid 2px var(--primary-color); */
}
#project-section{
    background-color: var(--primary-color);
    border-radius: .3rem;
}
.button{
    width: 9rem;
}

#add-project-button, #display-project-button, #display-all-tasks{
    display: flex;
    align-items: center;
    margin: 1.5rem;
    border: 0px;
    background-color: var(--primary-color);
    border-radius: .3rem;
    color: var(--secondary-color);
    padding-right: .6rem;
    transition: 0.2s ease-in-out;
}
#add-project-button:hover{
    transition: 0.4s ease-in-out;
    background-color: var(--primary-color-solid);
    color: whitesmoke;
    -webkit-box-shadow: 10px 10px 42px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 42px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 42px -14px rgba(0,0,0,0.75);
}
#display-project-button:hover{
    transition: 0.4s ease-in-out;
    background-color: var(--primary-color-solid);
    color: whitesmoke;
    -webkit-box-shadow: 10px 10px 42px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 42px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 42px -14px rgba(0,0,0,0.75);
}
#display-all-tasks:hover{
    transition: 0.4s ease-in-out;
    background-color: var(--primary-color-solid);
    color: whitesmoke;
    -webkit-box-shadow: 10px 10px 42px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 42px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 42px -14px rgba(0,0,0,0.75);
}

#display-project-button .material-icons{
    width: 30px;
}
#display-all-tasks .material-icons{
    width: 30px;
}

#create-new-project{
    /* display: flex; */
    align-items: center;
}
.project{
    margin: 2rem;
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: .7rem;
}
.task{
    margin-block: 1rem;
    background-color: var(--black);
    padding: 1rem;
    border-radius: .4rem;
}

.hidden {
    display: none;
}

#project-form-container {
    position: fixed;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-block: 5px;
    padding-inline: 15px;
    /* border: 1px solid #ccc; */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
    color: var(--secondary-font);
    background-color: var(--primary-color);
    border-radius: .3rem;
    border: none;
    -webkit-box-shadow: 17px 22px 30px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 22px 30px -4px rgba(0,0,0,0.75);
    box-shadow: 17px 22px 30px -4px rgba(0,0,0,0.75);


}
#project-form{
    display: flex;
    align-items: center;
}
#name-section{
    /* margin-inline-start: .1rem; */
    margin-block: 1.5rem;
    
}
#name-section label{
    /* margin-block-end: 1rem; */
    margin-inline-end: 1rem;

    
}
#project-name{
    margin-inline-end: 2rem;
    max-width: 10rem;
    background-color: var(--black);
    border-radius: .2rem;
    border: none;
    color: var(--secondary-color);
}

#due-date-section{
    margin-block: 1.5rem;
    border-radius: .3rem;
    
}
#due-date-section label{
    margin-block-end: 2rem;
    margin-inline-end: 2rem;
    
}
#project-due-date{
    max-width: 50px;
    background-color: var(--black);
    outline: none;
    border: none;
    color: var(--secondary-color);
    /* margin-inline-end: 2rem; */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23999" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7 10h10v2H7v-2zm0 4h10v2H7v-2zm0-8h10v2H7V6zm10-3H7V1H5v2H4c-1.11 0-2 .89-2 2v14c0 1.1.89 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.11-.9-2-2-2h-1V1h-2v2zM4 21V5h16v14H4z"/></svg>') no-repeat right 10px center;
    background-size: 24px 24px;
    
}
#form-submit-button{
    display: flex;
    align-items: center;
    border: 0px;
    max-block-size: 2rem;
    background-color: var(--primary-color);
    border-radius: .3rem;
    color: var(--secondary-color);
    padding-right: 1rem;
    transition: 0.2s ease-in-out;
    margin-inline: auto;
}
#form-submit-button:hover{
    transition: 0.4s ease-in-out;
    background-color: var(--primary-color-solid);
    color: whitesmoke;
    -webkit-box-shadow: 11px 17px 38px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 17px 38px 4px rgba(0,0,0,0.75);
box-shadow: 11px 17px 38px 4px rgba(0,0,0,0.75);
}

input[type="text"]:focus {
    outline: 2px solid var(--tertiary-color); /* Change #007bff to your desired color */
}

/* PROJECT ELEMENT STYLING */
/* ALSO REFERENCED ABOVE */
.project{

}


/* INDIVIDUAL PROJECT STYLING */
#project-header-container{
    text-align: center;
}

#project-header{
    letter-spacing: .2rem;
    margin-block-end: .75rem;
}
#project-status{
    font-weight: 200;
}
#project-due{
    font-weight: 200;

}


/* TASK STYLING */
.task{

}