@font-face {
    font-family: 'Inter';
    src: url(./assets/Font/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: 'Cormorac-Bold';
    src: url(./assets/Font/Cormorant_Garamond/CormorantGaramond-Bold.ttf);
}
@font-face {
    font-family: 'Cormorac-Regular';
    src: url(./assets/Font/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}
@font-face {
    font-family: 'Cormorac-Italic';
    src: url(./assets/Font/Cormorant_Garamond/CormorantGaramond-Italic.ttf);
}
@font-face {
    font-family: 'Cormorac-BoldItalic';
    src: url(./assets/Font/Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf);
}

:root{
    --primpary-font: 'Inter';
    --secondary-font: 'Lobster';

    --primary-color: #60656F;
    --secondary-color: #A8B4A5;
    --tertiary-color: #B80C09;
    --black: #131112;
}




*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: var(--black);
    
}


#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2rem;
    padding-block: 1rem;
    color: var(--tertiary-color);
}

#site-title{
    font-family: var(--secondary-font);
    font-size: 3rem;
}